
<h1>Students index</h1>

<% @students.drop(1).each do |student| %>
  Student Id: <%= student.student_id %>, name: <%= student.name %>
  <br>
  <% marks = @marks.where(student_id: student.student_id)  %>
  <% marks %>
  <% student_marks = [] %>
  total Average: <% %><br>
  <%marks.each do |mark|%>
    <br>
    <% test = @tests.find_by(test_id: mark.test_id)%>
    <% course = @courses.find_by(course_id: test.course_id)%>
    <% student_marks << {"#{course.name}" => mark.mark * test.weight} %>
    Course: <%= course.name %>, Teacher: <%= course.teacher %>
    Mark: <%= mark.mark %> <br>
  <% end  %>
<br>
<br>
<% end  %>
