
<h1>Report Cards</h1>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<br>

<%= form_tag import_students_path, multipart: true do %>
  <div class="form-group">
    <%= file_field_tag :file, class: '' %>
  </div>

  <div class="form-group">
    <%= submit_tag "Import Students CSV"%>
  </div>
<% end %>
<br>
<%= form_tag import_tests_path, multipart: true do %>
  <div class="form-group">
    <%= file_field_tag :file, class: '' %>
  </div>

  <div class="form-group">
    <%= submit_tag "Import Tests CSV" %>
  </div>
<% end %>
<br>
<%= form_tag import_courses_path, multipart: true do %>
  <div class="form-group">
    <%= file_field_tag :file, class: '' %>
  </div>

  <div class="form-group">
    <%= submit_tag "Import courses CSV"%>
  </div>
<% end %>
<br>
<%= form_tag import_marks_path, multipart: true do %>
  <div class="form-group">
    <%= file_field_tag :file, class: '' %>
  </div>

  <div class="form-group">
    <%= submit_tag "Import Marks CSV"%>
  </div>
<% end %>
<br>
<% @students.drop(1).each do |student| %>
  <br>
  <h2>Student Id: <%= student.student_id %>, name: <%= student.name %></h2>
  <% marks = @marks.where(student_id: student.student_id)  %>
  <% student_marks = [] %>
  <% marks.each do |mark| %>
    <% test = @tests.find_by(test_id: mark.test_id)%>
    <% course = @courses.find_by(course_id: test.course_id)%>
    <% student_marks << {"#{course.name}" => mark.mark * test.weight, "weight" => test.weight} %>
  <% end  %>
  <% to_display = student_marks.group_by{|h| h.keys.first}.values.map{|a| { a.first.keys.first => a.inject(0){|sum, h| sum + h.values.first.to_i}.to_s }} %>
  <% total = 0 %>
  <% to_display.each do |course| %>
    <% course.each do |k,v| %>
    <% total += v.to_i %>
    <% grade = v.to_f / 100 %>
    <% teacher_name = @courses.find_by(name: k).teacher %>
    <p>Course: <%= k %>, Teacher: <%= teacher_name  %></p>
    <p>Final Grade: <%= grade %>%<br></p>
    <% end  %>
    <br>
  <% end %>
  <h4>total Average: <%= (total.to_f/300).round(2) %>%</h4>
  <br>
  <br>
<% end  %>
